@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

* {
  font-family: 'Sora', sans-serif;
}

body {
    background-color: #212121;
    color: white;
}

.modal {
  display: block!important;
  color: black;
}